USE [DaffaCateringDB]
GO
/****** Object:  Table [BahanBaku].[DetailBahanBaku]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BahanBaku].[DetailBahanBaku](
	[idBahanBaku] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[stokAwal] [decimal](10, 2) NULL,
	[tglKadaluwarsa] [date] NOT NULL,
	[sisaStok] [decimal](10, 2) NULL,
 CONSTRAINT [PK_DetailBahanBaku_1] PRIMARY KEY CLUSTERED 
(
	[idBahanBaku] ASC,
	[tglKadaluwarsa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BahanBaku].[DetailPenggunaan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BahanBaku].[DetailPenggunaan](
	[idPenggunaan] [varchar](10) NOT NULL,
	[idBahanBaku] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[jumlahPenggunaan] [decimal](10, 2) NOT NULL,
	[tglKadaluwarsa] [date] NOT NULL,
 CONSTRAINT [PK_DetailPenggunaan_1] PRIMARY KEY CLUSTERED 
(
	[idPenggunaan] ASC,
	[idBahanBaku] ASC,
	[tglKadaluwarsa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BahanBaku].[DetailPenyesuaian]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BahanBaku].[DetailPenyesuaian](
	[idPenyesuaian] [varchar](10) NOT NULL,
	[idBahanBaku] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[stokFisik] [decimal](10, 2) NOT NULL,
	[selisihStok] [decimal](10, 2) NOT NULL,
	[tglKadaluwarsa] [date] NOT NULL,
	[keterangan] [varchar](255) NOT NULL,
 CONSTRAINT [PK_DetailPenyesuaian_1] PRIMARY KEY CLUSTERED 
(
	[idPenyesuaian] ASC,
	[idBahanBaku] ASC,
	[tglKadaluwarsa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BahanBaku].[HeaderBahanBaku]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BahanBaku].[HeaderBahanBaku](
	[idBahanBaku] [varchar](10) NOT NULL,
	[namaBahanBaku] [varchar](50) NOT NULL,
	[jenis] [bit] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_HeaderBahanBaku] PRIMARY KEY CLUSTERED 
(
	[idBahanBaku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BahanBaku].[HeaderPenggunaan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BahanBaku].[HeaderPenggunaan](
	[idPenggunaan] [varchar](10) NOT NULL,
	[tglPenggunaan] [date] NOT NULL,
 CONSTRAINT [PK_HeaderPenggunaan] PRIMARY KEY CLUSTERED 
(
	[idPenggunaan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BahanBaku].[HeaderPenyesuaian]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BahanBaku].[HeaderPenyesuaian](
	[idPenyesuaian] [varchar](10) NOT NULL,
	[tglPenyesuaian] [date] NOT NULL,
 CONSTRAINT [PK_HeaderPenyesuaian] PRIMARY KEY CLUSTERED 
(
	[idPenyesuaian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pelanggan].[Pelanggan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pelanggan].[Pelanggan](
	[idPelanggan] [varchar](10) NOT NULL,
	[namaPelanggan] [varchar](50) NOT NULL,
	[noKontak] [varchar](20) NULL,
	[alamat] [varchar](255) NULL,
	[tglBergabung] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Pelanggan] PRIMARY KEY CLUSTERED 
(
	[idPelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pemasok].[Pemasok]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pemasok].[Pemasok](
	[idPemasok] [varchar](10) NOT NULL,
	[namaPemasok] [varchar](50) NOT NULL,
	[noKontak] [varchar](20) NULL,
	[alamat] [varchar](255) NULL,
	[tglBergabung] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Pemasok] PRIMARY KEY CLUSTERED 
(
	[idPemasok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pembelian].[DetailPembelian]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pembelian].[DetailPembelian](
	[idPembelian] [varchar](10) NOT NULL,
	[idBahanBaku] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[jumlah] [decimal](10, 2) NOT NULL,
	[harga] [money] NOT NULL,
 CONSTRAINT [PK_DetailPembelian] PRIMARY KEY CLUSTERED 
(
	[idPembelian] ASC,
	[idBahanBaku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pembelian].[DetailPenerimaan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pembelian].[DetailPenerimaan](
	[idPenerimaan] [varchar](10) NOT NULL,
	[idBahanBaku] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[jumlah] [decimal](10, 2) NOT NULL,
	[tglKadaluwarsa] [date] NOT NULL,
	[statusBahanBaku] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DetailPenerimaan] PRIMARY KEY CLUSTERED 
(
	[idPenerimaan] ASC,
	[idBahanBaku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pembelian].[HeaderPembelian]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pembelian].[HeaderPembelian](
	[idPembelian] [varchar](10) NOT NULL,
	[idPemasok] [varchar](10) NOT NULL,
	[tglPembelian] [date] NOT NULL,
	[total] [money] NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HeaderPembelian] PRIMARY KEY CLUSTERED 
(
	[idPembelian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Pembelian].[HeaderPenerimaan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pembelian].[HeaderPenerimaan](
	[idPenerimaan] [varchar](10) NOT NULL,
	[idPemasok] [varchar](10) NOT NULL,
	[idPembelian] [varchar](10) NOT NULL,
	[tglPenerimaan] [date] NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HeaderPenerimaan] PRIMARY KEY CLUSTERED 
(
	[idPenerimaan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Penjualan].[DetailPenjualan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Penjualan].[DetailPenjualan](
	[idPenjualan] [varchar](10) NOT NULL,
	[idMenu] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[jumlah] [int] NOT NULL,
	[harga] [money] NOT NULL,
 CONSTRAINT [PK_DetailPenjualan_1] PRIMARY KEY CLUSTERED 
(
	[idPenjualan] ASC,
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Penjualan].[DetailPesanan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Penjualan].[DetailPesanan](
	[idPesanan] [varchar](10) NOT NULL,
	[idMenu] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[jumlah] [int] NOT NULL,
	[harga] [money] NOT NULL,
 CONSTRAINT [PK_DetailPesanan] PRIMARY KEY CLUSTERED 
(
	[idPesanan] ASC,
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Penjualan].[HeaderPenjualan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Penjualan].[HeaderPenjualan](
	[idPenjualan] [varchar](10) NOT NULL,
	[idPesanan] [varchar](10) NULL,
	[idPelanggan] [varchar](10) NOT NULL,
	[metodePembayaran] [varchar](10) NOT NULL,
	[tglPenjualan] [date] NOT NULL,
	[uangMuka] [money] NULL,
	[total] [money] NOT NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HeaderPenjualan] PRIMARY KEY CLUSTERED 
(
	[idPenjualan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Penjualan].[HeaderPesanan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Penjualan].[HeaderPesanan](
	[idPesanan] [varchar](10) NOT NULL,
	[idPelanggan] [varchar](10) NOT NULL,
	[metodePembayaran] [varchar](10) NOT NULL,
	[tglPesanan] [date] NOT NULL,
	[tglPengambilan] [date] NOT NULL,
	[uangMuka] [money] NOT NULL,
	[total] [money] NOT NULL,
	[keterangan] [varchar](255) NULL,
	[status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HeaderPesanan] PRIMARY KEY CLUSTERED 
(
	[idPesanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Resep].[DetailResep]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Resep].[DetailResep](
	[idResep] [varchar](10) NOT NULL,
	[idBahanBaku] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[jumlah] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DetailResep_1] PRIMARY KEY CLUSTERED 
(
	[idResep] ASC,
	[idBahanBaku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Resep].[HeaderResep]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Resep].[HeaderResep](
	[idResep] [varchar](10) NOT NULL,
	[idMenu] [varchar](10) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_HeaderResep] PRIMARY KEY CLUSTERED 
(
	[idResep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Resep].[Menu]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Resep].[Menu](
	[idMenu] [varchar](10) NOT NULL,
	[idSatuan] [varchar](10) NOT NULL,
	[namaMenu] [varchar](50) NOT NULL,
	[jumlah] [int] NOT NULL,
	[harga] [money] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satuan].[KonversiSatuan]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satuan].[KonversiSatuan](
	[idKonversi] [varchar](10) NOT NULL,
	[idSatuanBesar] [varchar](10) NOT NULL,
	[idSatuanKecil] [varchar](10) NOT NULL,
	[nilaiKonversi] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_KonversiSatuan] PRIMARY KEY CLUSTERED 
(
	[idKonversi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Satuan].[SatuanBahanBaku]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Satuan].[SatuanBahanBaku](
	[idSatuan] [varchar](10) NOT NULL,
	[namaSatuan] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Satuan] PRIMARY KEY CLUSTERED 
(
	[idSatuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User].[Role]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[Role](
	[idRole] [varchar](10) NOT NULL,
	[namaRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User].[User]    Script Date: 02/10/2026 14:25:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[User](
	[idUser] [varchar](10) NOT NULL,
	[idRole] [varchar](10) NOT NULL,
	[namaUser] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [BahanBaku].[DetailBahanBaku] ([idBahanBaku], [idSatuan], [stokAwal], [tglKadaluwarsa], [sisaStok]) VALUES (N'BB0000001', N'SBB0000001', CAST(80.00 AS Decimal(10, 2)), CAST(N'2027-01-15' AS Date), CAST(65.20 AS Decimal(10, 2)))
INSERT [BahanBaku].[DetailBahanBaku] ([idBahanBaku], [idSatuan], [stokAwal], [tglKadaluwarsa], [sisaStok]) VALUES (N'BB0000002', N'SBB0000003', CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-12-20' AS Date), CAST(20.00 AS Decimal(10, 2)))
INSERT [BahanBaku].[DetailBahanBaku] ([idBahanBaku], [idSatuan], [stokAwal], [tglKadaluwarsa], [sisaStok]) VALUES (N'BB0000003', N'SBB0000001', CAST(4.00 AS Decimal(10, 2)), CAST(N'2026-07-09' AS Date), CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [BahanBaku].[DetailPenggunaan] ([idPenggunaan], [idBahanBaku], [idSatuan], [jumlahPenggunaan], [tglKadaluwarsa]) VALUES (N'PBP0000001', N'BB0000002', N'SBB0000003', CAST(15.00 AS Decimal(10, 2)), CAST(N'2026-12-20' AS Date))
INSERT [BahanBaku].[DetailPenggunaan] ([idPenggunaan], [idBahanBaku], [idSatuan], [jumlahPenggunaan], [tglKadaluwarsa]) VALUES (N'PBP0000002', N'BB0000006', N'SBB0000001', CAST(20.00 AS Decimal(10, 2)), CAST(N'2026-09-10' AS Date))
INSERT [BahanBaku].[DetailPenggunaan] ([idPenggunaan], [idBahanBaku], [idSatuan], [jumlahPenggunaan], [tglKadaluwarsa]) VALUES (N'PBP0000003', N'BB0000007', N'SBB0000001', CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-10-05' AS Date))
GO
INSERT [BahanBaku].[DetailPenyesuaian] ([idPenyesuaian], [idBahanBaku], [idSatuan], [stokFisik], [selisihStok], [tglKadaluwarsa], [keterangan]) VALUES (N'PSY0000001', N'BB0000010', N'SBB0000009', CAST(30.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(N'2026-07-12' AS Date), N'dapat bonus 10')
INSERT [BahanBaku].[DetailPenyesuaian] ([idPenyesuaian], [idBahanBaku], [idSatuan], [stokFisik], [selisihStok], [tglKadaluwarsa], [keterangan]) VALUES (N'PSY0000002', N'BB0000005', N'SBB0000009', CAST(145.00 AS Decimal(10, 2)), CAST(-5.00 AS Decimal(10, 2)), CAST(N'2026-08-05' AS Date), N'pecah 5')
INSERT [BahanBaku].[DetailPenyesuaian] ([idPenyesuaian], [idBahanBaku], [idSatuan], [stokFisik], [selisihStok], [tglKadaluwarsa], [keterangan]) VALUES (N'PSY0000003', N'BB0000006', N'SBB0000001', CAST(13.00 AS Decimal(10, 2)), CAST(-2.00 AS Decimal(10, 2)), CAST(N'2026-09-15' AS Date), N'rusak 2 kg')
GO
INSERT [BahanBaku].[HeaderBahanBaku] ([idBahanBaku], [namaBahanBaku], [jenis], [status]) VALUES (N'BB0000001', N'Beras', 1, 1)
INSERT [BahanBaku].[HeaderBahanBaku] ([idBahanBaku], [namaBahanBaku], [jenis], [status]) VALUES (N'BB0000002', N'Minyak Goreng', 1, 1)
INSERT [BahanBaku].[HeaderBahanBaku] ([idBahanBaku], [namaBahanBaku], [jenis], [status]) VALUES (N'BB0000003', N'Daging Ayam', 0, 1)
GO
INSERT [BahanBaku].[HeaderPenggunaan] ([idPenggunaan], [tglPenggunaan]) VALUES (N'PBP0000001', CAST(N'2026-07-09' AS Date))
INSERT [BahanBaku].[HeaderPenggunaan] ([idPenggunaan], [tglPenggunaan]) VALUES (N'PBP0000002', CAST(N'2026-07-10' AS Date))
INSERT [BahanBaku].[HeaderPenggunaan] ([idPenggunaan], [tglPenggunaan]) VALUES (N'PBP0000003', CAST(N'2026-07-10' AS Date))
GO
INSERT [BahanBaku].[HeaderPenyesuaian] ([idPenyesuaian], [tglPenyesuaian]) VALUES (N'PSY0000001', CAST(N'2026-07-31' AS Date))
INSERT [BahanBaku].[HeaderPenyesuaian] ([idPenyesuaian], [tglPenyesuaian]) VALUES (N'PSY0000002', CAST(N'2026-07-31' AS Date))
INSERT [BahanBaku].[HeaderPenyesuaian] ([idPenyesuaian], [tglPenyesuaian]) VALUES (N'PSY0000003', CAST(N'2026-07-31' AS Date))
GO
INSERT [Pelanggan].[Pelanggan] ([idPelanggan], [namaPelanggan], [noKontak], [alamat], [tglBergabung], [status]) VALUES (N'PLG0000001', N'Siti Aisyah', N'0812-6534-1122', N'Jl. Setia Budi No. 45, Medan Selayang', CAST(N'2026-07-01' AS Date), 1)
INSERT [Pelanggan].[Pelanggan] ([idPelanggan], [namaPelanggan], [noKontak], [alamat], [tglBergabung], [status]) VALUES (N'PLG0000002', N'Budi Hartono', N'0813-7645-2234', N'Jl. Gatot Subroto No. 112, Medan Petisah', CAST(N'2026-07-01' AS Date), 1)
INSERT [Pelanggan].[Pelanggan] ([idPelanggan], [namaPelanggan], [noKontak], [alamat], [tglBergabung], [status]) VALUES (N'PLG0000003', N'Ratna Sari ', N'+6282199884455', N'Jl. Sisingamangaraja No. 78, Medan Kota', CAST(N'2026-07-01' AS Date), 1)
GO
INSERT [Pemasok].[Pemasok] ([idPemasok], [namaPemasok], [noKontak], [alamat], [tglBergabung], [status]) VALUES (N'PMS0000001', N'CV Sumber Rezeki Sayur', N'0812-7744-1122', N'Jl. Pasar Induk Lau Cih No. 5, Medan Tuntungan', CAST(N'2026-07-01' AS Date), 1)
INSERT [Pemasok].[Pemasok] ([idPemasok], [namaPemasok], [noKontak], [alamat], [tglBergabung], [status]) VALUES (N'PMS0000002', N'UD Berkah Daging Segar', N'0813-8899-2233', N'Jl. Bromo No. 21, Medan Denai', CAST(N'2026-07-01' AS Date), 1)
INSERT [Pemasok].[Pemasok] ([idPemasok], [namaPemasok], [noKontak], [alamat], [tglBergabung], [status]) VALUES (N'PMS0000003', N'Toko Sembako Mekar Jaya', N'082155667788', N'Jl. Marelan Raya No. 40, Medan Marelan', CAST(N'2026-07-02' AS Date), 1)
GO
INSERT [Pembelian].[DetailPembelian] ([idPembelian], [idBahanBaku], [idSatuan], [jumlah], [harga]) VALUES (N'PB0000001', N'BB0000010', N'SBB0000009', CAST(60.00 AS Decimal(10, 2)), 1000.0000)
INSERT [Pembelian].[DetailPembelian] ([idPembelian], [idBahanBaku], [idSatuan], [jumlah], [harga]) VALUES (N'PB0000002', N'BB0000001', N'SBB0000001', CAST(25.00 AS Decimal(10, 2)), 12000.0000)
INSERT [Pembelian].[DetailPembelian] ([idPembelian], [idBahanBaku], [idSatuan], [jumlah], [harga]) VALUES (N'PB0000003', N'BB0000002', N'SBB0000003', CAST(20.00 AS Decimal(10, 2)), 16000.0000)
GO
INSERT [Pembelian].[DetailPenerimaan] ([idPenerimaan], [idBahanBaku], [idSatuan], [jumlah], [tglKadaluwarsa], [statusBahanBaku]) VALUES (N'PNM0000001', N'BB0000010', N'SBB0000009', CAST(60.00 AS Decimal(10, 2)), CAST(N'2026-07-12' AS Date), N'False')
INSERT [Pembelian].[DetailPenerimaan] ([idPenerimaan], [idBahanBaku], [idSatuan], [jumlah], [tglKadaluwarsa], [statusBahanBaku]) VALUES (N'PNM0000002', N'BB0000001', N'SBB0000001', CAST(25.00 AS Decimal(10, 2)), CAST(N'2027-01-15' AS Date), N'False')
INSERT [Pembelian].[DetailPenerimaan] ([idPenerimaan], [idBahanBaku], [idSatuan], [jumlah], [tglKadaluwarsa], [statusBahanBaku]) VALUES (N'PNM0000003', N'BB0000002', N'SBB0000003', CAST(20.00 AS Decimal(10, 2)), CAST(N'2026-12-20' AS Date), N'False')
GO
INSERT [Pembelian].[HeaderPembelian] ([idPembelian], [idPemasok], [tglPembelian], [total], [status]) VALUES (N'PB0000001', N'PMS0000001', CAST(N'2026-07-09' AS Date), 60000.0000, N'Close')
INSERT [Pembelian].[HeaderPembelian] ([idPembelian], [idPemasok], [tglPembelian], [total], [status]) VALUES (N'PB0000002', N'PMS0000007', CAST(N'2026-07-09' AS Date), 300000.0000, N'Close')
INSERT [Pembelian].[HeaderPembelian] ([idPembelian], [idPemasok], [tglPembelian], [total], [status]) VALUES (N'PB0000003', N'PMS0000010', CAST(N'2026-07-10' AS Date), 320000.0000, N'Close')
GO
INSERT [Pembelian].[HeaderPenerimaan] ([idPenerimaan], [idPemasok], [idPembelian], [tglPenerimaan], [status]) VALUES (N'PNM0000001', N'PMS0000001', N'PB0000001', CAST(N'2026-07-09' AS Date), N'Close')
INSERT [Pembelian].[HeaderPenerimaan] ([idPenerimaan], [idPemasok], [idPembelian], [tglPenerimaan], [status]) VALUES (N'PNM0000002', N'PMS0000007', N'PB0000002', CAST(N'2026-07-10' AS Date), N'Close')
INSERT [Pembelian].[HeaderPenerimaan] ([idPenerimaan], [idPemasok], [idPembelian], [tglPenerimaan], [status]) VALUES (N'PNM0000003', N'PMS0000010', N'PB0000003', CAST(N'2026-07-11' AS Date), N'Close')
GO
INSERT [Penjualan].[DetailPenjualan] ([idPenjualan], [idMenu], [idSatuan], [jumlah], [harga]) VALUES (N'PNJ0000001', N'MN0000001', N'SBB0000008', 20, 25000.0000)
INSERT [Penjualan].[DetailPenjualan] ([idPenjualan], [idMenu], [idSatuan], [jumlah], [harga]) VALUES (N'PNJ0000001', N'MN0000007', N'SBB0000008', 10, 33000.0000)
INSERT [Penjualan].[DetailPenjualan] ([idPenjualan], [idMenu], [idSatuan], [jumlah], [harga]) VALUES (N'PNJ0000002', N'MN0000002', N'SBB0000008', 15, 30000.0000)
GO
INSERT [Penjualan].[DetailPesanan] ([idPesanan], [idMenu], [idSatuan], [jumlah], [harga]) VALUES (N'PP0000001', N'MN0000001', N'SBB0000008', 20, 25000.0000)
INSERT [Penjualan].[DetailPesanan] ([idPesanan], [idMenu], [idSatuan], [jumlah], [harga]) VALUES (N'PP0000001', N'MN0000007', N'SBB0000008', 10, 33000.0000)
INSERT [Penjualan].[DetailPesanan] ([idPesanan], [idMenu], [idSatuan], [jumlah], [harga]) VALUES (N'PP0000002', N'MN0000002', N'SBB0000008', 15, 30000.0000)
GO
INSERT [Penjualan].[HeaderPenjualan] ([idPenjualan], [idPesanan], [idPelanggan], [metodePembayaran], [tglPenjualan], [uangMuka], [total], [status]) VALUES (N'PNJ0000001', N'PP0000001', N'PLG0000001', N'Debit', CAST(N'2026-07-10' AS Date), 500000.0000, 830000.0000, N'Close')
INSERT [Penjualan].[HeaderPenjualan] ([idPenjualan], [idPesanan], [idPelanggan], [metodePembayaran], [tglPenjualan], [uangMuka], [total], [status]) VALUES (N'PNJ0000002', N'PP0000002', N'PLG0000002', N'Cash', CAST(N'2026-07-11' AS Date), 400000.0000, 870000.0000, N'Close')
INSERT [Penjualan].[HeaderPenjualan] ([idPenjualan], [idPesanan], [idPelanggan], [metodePembayaran], [tglPenjualan], [uangMuka], [total], [status]) VALUES (N'PNJ0000003', N'PP0000003', N'PLG0000003', N'Debit', CAST(N'2026-07-12' AS Date), 500000.0000, 1175000.0000, N'Close')
GO
INSERT [Penjualan].[HeaderPesanan] ([idPesanan], [idPelanggan], [metodePembayaran], [tglPesanan], [tglPengambilan], [uangMuka], [total], [keterangan], [status]) VALUES (N'PP0000001', N'PLG0000001', N'Debit', CAST(N'2026-07-09' AS Date), CAST(N'2026-07-10' AS Date), 500000.0000, 830000.0000, N'Diantar jam 11:00 WIB ke lokasi acara', N'Close')
INSERT [Penjualan].[HeaderPesanan] ([idPesanan], [idPelanggan], [metodePembayaran], [tglPesanan], [tglPengambilan], [uangMuka], [total], [keterangan], [status]) VALUES (N'PP0000002', N'PLG0000002', N'Cash', CAST(N'2026-07-10' AS Date), CAST(N'2026-07-11' AS Date), 400000.0000, 870000.0000, N'Pickup jam 10:00 WIB di dapur katering', N'Close')
INSERT [Penjualan].[HeaderPesanan] ([idPesanan], [idPelanggan], [metodePembayaran], [tglPesanan], [tglPengambilan], [uangMuka], [total], [keterangan], [status]) VALUES (N'PP0000003', N'PLG0000003', N'Debit', CAST(N'2026-07-11' AS Date), CAST(N'2026-07-12' AS Date), 500000.0000, 1175000.0000, N'Diantar jam 08:00 WIB (acara pagi)', N'Close')
GO
INSERT [Resep].[DetailResep] ([idResep], [idBahanBaku], [idSatuan], [jumlah]) VALUES (N'RS0000001', N'BB0000001', N'SBB0000002', CAST(200.00 AS Decimal(10, 2)))
INSERT [Resep].[DetailResep] ([idResep], [idBahanBaku], [idSatuan], [jumlah]) VALUES (N'RS0000001', N'BB0000003', N'SBB0000002', CAST(200.00 AS Decimal(10, 2)))
INSERT [Resep].[DetailResep] ([idResep], [idBahanBaku], [idSatuan], [jumlah]) VALUES (N'RS0000001', N'BB0000010', N'SBB0000009', CAST(1.00 AS Decimal(10, 2)))
GO
INSERT [Resep].[HeaderResep] ([idResep], [idMenu], [status]) VALUES (N'RS0000001', N'MN0000001', 1)
INSERT [Resep].[HeaderResep] ([idResep], [idMenu], [status]) VALUES (N'RS0000002', N'MN0000002', 1)
INSERT [Resep].[HeaderResep] ([idResep], [idMenu], [status]) VALUES (N'RS0000003', N'MN0000003', 1)
GO
INSERT [Resep].[Menu] ([idMenu], [idSatuan], [namaMenu], [jumlah], [harga], [status]) VALUES (N'MN0000001', N'SBB0000008', N'Nasi Ayam Bakar', 1, 25000.0000, 1)
INSERT [Resep].[Menu] ([idMenu], [idSatuan], [namaMenu], [jumlah], [harga], [status]) VALUES (N'MN0000002', N'SBB0000008', N'Nasi Rendang Sapi', 1, 30000.0000, 1)
INSERT [Resep].[Menu] ([idMenu], [idSatuan], [namaMenu], [jumlah], [harga], [status]) VALUES (N'MN0000003', N'SBB0000008', N'Nasi Ikan Gulai', 1, 27000.0000, 1)
GO
INSERT [Satuan].[KonversiSatuan] ([idKonversi], [idSatuanBesar], [idSatuanKecil], [nilaiKonversi]) VALUES (N'KNV0000001', N'SBB0000001', N'SBB0000002', CAST(1000.00 AS Decimal(10, 2)))
INSERT [Satuan].[KonversiSatuan] ([idKonversi], [idSatuanBesar], [idSatuanKecil], [nilaiKonversi]) VALUES (N'KNV0000002', N'SBB0000003', N'SBB0000004', CAST(1000.00 AS Decimal(10, 2)))
INSERT [Satuan].[KonversiSatuan] ([idKonversi], [idSatuanBesar], [idSatuanKecil], [nilaiKonversi]) VALUES (N'KNV0000003', N'SBB0000010', N'SBB0000007', CAST(15.00 AS Decimal(10, 2)))
GO
INSERT [Satuan].[SatuanBahanBaku] ([idSatuan], [namaSatuan]) VALUES (N'SBB0000001', N'Kilogram')
INSERT [Satuan].[SatuanBahanBaku] ([idSatuan], [namaSatuan]) VALUES (N'SBB0000002', N'Gram')
INSERT [Satuan].[SatuanBahanBaku] ([idSatuan], [namaSatuan]) VALUES (N'SBB0000003', N'Liter')
GO
INSERT [User].[Role] ([idRole], [namaRole]) VALUES (N'R001', N'admin')
INSERT [User].[Role] ([idRole], [namaRole]) VALUES (N'R002', N'Penjualan')
INSERT [User].[Role] ([idRole], [namaRole]) VALUES (N'R003', N'Pembelian')
GO
INSERT [User].[User] ([idUser], [idRole], [namaUser], [password], [status]) VALUES (N'U001', N'R001', N'Admin', N'$2a$11$74z1wuyQW51EYtOs7RPcgeqDHPprxPAfXzeQNZVe71kPSfmZnsCz.', 1)
INSERT [User].[User] ([idUser], [idRole], [namaUser], [password], [status]) VALUES (N'U002', N'R002', N'Penjualan', N'$2a$11$LZ/0NbV53/UoPhOlgRf7RO7SSsKPWlB3LcGSGGh4TB33zUiAUixmW', 1)
INSERT [User].[User] ([idUser], [idRole], [namaUser], [password], [status]) VALUES (N'U003', N'R003', N'Pembelian', N'$2a$11$OZmlXPUyD/wc893goHdP7eP1q.v5Ae5WascxmgMe3ZIhbP6t7kt.u', 1)
GO
ALTER TABLE [BahanBaku].[DetailBahanBaku]  WITH CHECK ADD  CONSTRAINT [FK_DetailBahanBaku_HeaderBahanBaku] FOREIGN KEY([idBahanBaku])
REFERENCES [BahanBaku].[HeaderBahanBaku] ([idBahanBaku])
GO
ALTER TABLE [BahanBaku].[DetailBahanBaku] CHECK CONSTRAINT [FK_DetailBahanBaku_HeaderBahanBaku]
GO
ALTER TABLE [BahanBaku].[DetailBahanBaku]  WITH CHECK ADD  CONSTRAINT [FK_DetailBahanBaku_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [BahanBaku].[DetailBahanBaku] CHECK CONSTRAINT [FK_DetailBahanBaku_Satuan]
GO
ALTER TABLE [BahanBaku].[DetailPenggunaan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenggunaan_HeaderBahanBaku] FOREIGN KEY([idBahanBaku])
REFERENCES [BahanBaku].[HeaderBahanBaku] ([idBahanBaku])
GO
ALTER TABLE [BahanBaku].[DetailPenggunaan] CHECK CONSTRAINT [FK_DetailPenggunaan_HeaderBahanBaku]
GO
ALTER TABLE [BahanBaku].[DetailPenggunaan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenggunaan_HeaderPenggunaan] FOREIGN KEY([idPenggunaan])
REFERENCES [BahanBaku].[HeaderPenggunaan] ([idPenggunaan])
GO
ALTER TABLE [BahanBaku].[DetailPenggunaan] CHECK CONSTRAINT [FK_DetailPenggunaan_HeaderPenggunaan]
GO
ALTER TABLE [BahanBaku].[DetailPenggunaan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenggunaan_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [BahanBaku].[DetailPenggunaan] CHECK CONSTRAINT [FK_DetailPenggunaan_Satuan]
GO
ALTER TABLE [BahanBaku].[DetailPenyesuaian]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenyesuaian_HeaderBahanBaku] FOREIGN KEY([idBahanBaku])
REFERENCES [BahanBaku].[HeaderBahanBaku] ([idBahanBaku])
GO
ALTER TABLE [BahanBaku].[DetailPenyesuaian] CHECK CONSTRAINT [FK_DetailPenyesuaian_HeaderBahanBaku]
GO
ALTER TABLE [BahanBaku].[DetailPenyesuaian]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenyesuaian_HeaderPenyesuaian] FOREIGN KEY([idPenyesuaian])
REFERENCES [BahanBaku].[HeaderPenyesuaian] ([idPenyesuaian])
GO
ALTER TABLE [BahanBaku].[DetailPenyesuaian] CHECK CONSTRAINT [FK_DetailPenyesuaian_HeaderPenyesuaian]
GO
ALTER TABLE [BahanBaku].[DetailPenyesuaian]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenyesuaian_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [BahanBaku].[DetailPenyesuaian] CHECK CONSTRAINT [FK_DetailPenyesuaian_Satuan]
GO
ALTER TABLE [Pembelian].[DetailPembelian]  WITH CHECK ADD  CONSTRAINT [FK_DetailPembelian_HeaderBahanBaku] FOREIGN KEY([idBahanBaku])
REFERENCES [BahanBaku].[HeaderBahanBaku] ([idBahanBaku])
GO
ALTER TABLE [Pembelian].[DetailPembelian] CHECK CONSTRAINT [FK_DetailPembelian_HeaderBahanBaku]
GO
ALTER TABLE [Pembelian].[DetailPembelian]  WITH CHECK ADD  CONSTRAINT [FK_DetailPembelian_HeaderPembelian] FOREIGN KEY([idPembelian])
REFERENCES [Pembelian].[HeaderPembelian] ([idPembelian])
GO
ALTER TABLE [Pembelian].[DetailPembelian] CHECK CONSTRAINT [FK_DetailPembelian_HeaderPembelian]
GO
ALTER TABLE [Pembelian].[DetailPembelian]  WITH CHECK ADD  CONSTRAINT [FK_DetailPembelian_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Pembelian].[DetailPembelian] CHECK CONSTRAINT [FK_DetailPembelian_Satuan]
GO
ALTER TABLE [Pembelian].[DetailPenerimaan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenerimaan_HeaderBahanBaku] FOREIGN KEY([idBahanBaku])
REFERENCES [BahanBaku].[HeaderBahanBaku] ([idBahanBaku])
GO
ALTER TABLE [Pembelian].[DetailPenerimaan] CHECK CONSTRAINT [FK_DetailPenerimaan_HeaderBahanBaku]
GO
ALTER TABLE [Pembelian].[DetailPenerimaan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenerimaan_HeaderPenerimaan] FOREIGN KEY([idPenerimaan])
REFERENCES [Pembelian].[HeaderPenerimaan] ([idPenerimaan])
GO
ALTER TABLE [Pembelian].[DetailPenerimaan] CHECK CONSTRAINT [FK_DetailPenerimaan_HeaderPenerimaan]
GO
ALTER TABLE [Pembelian].[DetailPenerimaan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenerimaan_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Pembelian].[DetailPenerimaan] CHECK CONSTRAINT [FK_DetailPenerimaan_Satuan]
GO
ALTER TABLE [Pembelian].[HeaderPembelian]  WITH CHECK ADD  CONSTRAINT [FK_HeaderPembelian_Pemasok] FOREIGN KEY([idPemasok])
REFERENCES [Pemasok].[Pemasok] ([idPemasok])
GO
ALTER TABLE [Pembelian].[HeaderPembelian] CHECK CONSTRAINT [FK_HeaderPembelian_Pemasok]
GO
ALTER TABLE [Pembelian].[HeaderPenerimaan]  WITH CHECK ADD  CONSTRAINT [FK_HeaderPenerimaan_HeaderPembelian] FOREIGN KEY([idPembelian])
REFERENCES [Pembelian].[HeaderPembelian] ([idPembelian])
GO
ALTER TABLE [Pembelian].[HeaderPenerimaan] CHECK CONSTRAINT [FK_HeaderPenerimaan_HeaderPembelian]
GO
ALTER TABLE [Pembelian].[HeaderPenerimaan]  WITH CHECK ADD  CONSTRAINT [FK_HeaderPenerimaan_Pemasok] FOREIGN KEY([idPemasok])
REFERENCES [Pemasok].[Pemasok] ([idPemasok])
GO
ALTER TABLE [Pembelian].[HeaderPenerimaan] CHECK CONSTRAINT [FK_HeaderPenerimaan_Pemasok]
GO
ALTER TABLE [Penjualan].[DetailPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenjualan_HeaderPenjualan] FOREIGN KEY([idPenjualan])
REFERENCES [Penjualan].[HeaderPenjualan] ([idPenjualan])
GO
ALTER TABLE [Penjualan].[DetailPenjualan] CHECK CONSTRAINT [FK_DetailPenjualan_HeaderPenjualan]
GO
ALTER TABLE [Penjualan].[DetailPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenjualan_Menu] FOREIGN KEY([idMenu])
REFERENCES [Resep].[Menu] ([idMenu])
GO
ALTER TABLE [Penjualan].[DetailPenjualan] CHECK CONSTRAINT [FK_DetailPenjualan_Menu]
GO
ALTER TABLE [Penjualan].[DetailPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPenjualan_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Penjualan].[DetailPenjualan] CHECK CONSTRAINT [FK_DetailPenjualan_Satuan]
GO
ALTER TABLE [Penjualan].[DetailPesanan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPesanan_HeaderPesanan] FOREIGN KEY([idPesanan])
REFERENCES [Penjualan].[HeaderPesanan] ([idPesanan])
GO
ALTER TABLE [Penjualan].[DetailPesanan] CHECK CONSTRAINT [FK_DetailPesanan_HeaderPesanan]
GO
ALTER TABLE [Penjualan].[DetailPesanan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPesanan_Menu] FOREIGN KEY([idMenu])
REFERENCES [Resep].[Menu] ([idMenu])
GO
ALTER TABLE [Penjualan].[DetailPesanan] CHECK CONSTRAINT [FK_DetailPesanan_Menu]
GO
ALTER TABLE [Penjualan].[DetailPesanan]  WITH CHECK ADD  CONSTRAINT [FK_DetailPesanan_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Penjualan].[DetailPesanan] CHECK CONSTRAINT [FK_DetailPesanan_Satuan]
GO
ALTER TABLE [Penjualan].[HeaderPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_HeaderPenjualan_HeaderPesanan] FOREIGN KEY([idPesanan])
REFERENCES [Penjualan].[HeaderPesanan] ([idPesanan])
GO
ALTER TABLE [Penjualan].[HeaderPenjualan] CHECK CONSTRAINT [FK_HeaderPenjualan_HeaderPesanan]
GO
ALTER TABLE [Penjualan].[HeaderPenjualan]  WITH CHECK ADD  CONSTRAINT [FK_HeaderPenjualan_Pelanggan] FOREIGN KEY([idPelanggan])
REFERENCES [Pelanggan].[Pelanggan] ([idPelanggan])
GO
ALTER TABLE [Penjualan].[HeaderPenjualan] CHECK CONSTRAINT [FK_HeaderPenjualan_Pelanggan]
GO
ALTER TABLE [Penjualan].[HeaderPesanan]  WITH CHECK ADD  CONSTRAINT [FK_HeaderPesanan_Pelanggan] FOREIGN KEY([idPelanggan])
REFERENCES [Pelanggan].[Pelanggan] ([idPelanggan])
GO
ALTER TABLE [Penjualan].[HeaderPesanan] CHECK CONSTRAINT [FK_HeaderPesanan_Pelanggan]
GO
ALTER TABLE [Resep].[DetailResep]  WITH CHECK ADD  CONSTRAINT [FK_DetailResep_HeaderBahanBaku] FOREIGN KEY([idBahanBaku])
REFERENCES [BahanBaku].[HeaderBahanBaku] ([idBahanBaku])
GO
ALTER TABLE [Resep].[DetailResep] CHECK CONSTRAINT [FK_DetailResep_HeaderBahanBaku]
GO
ALTER TABLE [Resep].[DetailResep]  WITH CHECK ADD  CONSTRAINT [FK_DetailResep_HeaderResep] FOREIGN KEY([idResep])
REFERENCES [Resep].[HeaderResep] ([idResep])
GO
ALTER TABLE [Resep].[DetailResep] CHECK CONSTRAINT [FK_DetailResep_HeaderResep]
GO
ALTER TABLE [Resep].[DetailResep]  WITH CHECK ADD  CONSTRAINT [FK_DetailResep_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Resep].[DetailResep] CHECK CONSTRAINT [FK_DetailResep_Satuan]
GO
ALTER TABLE [Resep].[HeaderResep]  WITH CHECK ADD  CONSTRAINT [FK_HeaderResep_Menu] FOREIGN KEY([idMenu])
REFERENCES [Resep].[Menu] ([idMenu])
GO
ALTER TABLE [Resep].[HeaderResep] CHECK CONSTRAINT [FK_HeaderResep_Menu]
GO
ALTER TABLE [Resep].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Satuan] FOREIGN KEY([idSatuan])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Resep].[Menu] CHECK CONSTRAINT [FK_Menu_Satuan]
GO
ALTER TABLE [Satuan].[KonversiSatuan]  WITH CHECK ADD  CONSTRAINT [FK_KonversiSatuan_SatuanBesar] FOREIGN KEY([idSatuanBesar])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Satuan].[KonversiSatuan] CHECK CONSTRAINT [FK_KonversiSatuan_SatuanBesar]
GO
ALTER TABLE [Satuan].[KonversiSatuan]  WITH CHECK ADD  CONSTRAINT [FK_KonversiSatuan_SatuanKecil] FOREIGN KEY([idSatuanKecil])
REFERENCES [Satuan].[SatuanBahanBaku] ([idSatuan])
GO
ALTER TABLE [Satuan].[KonversiSatuan] CHECK CONSTRAINT [FK_KonversiSatuan_SatuanKecil]
GO
ALTER TABLE [User].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([idRole])
REFERENCES [User].[Role] ([idRole])
GO
ALTER TABLE [User].[User] CHECK CONSTRAINT [FK_User_Role]
GO
