/* CSS for Login component */
.login-card {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 12px;
}

.login-title {
    font-family: 'Merriweather Sans', sans-serif;
}

.btn-login {
    background-color: #0077b6;
    border-color: #0077b6;
    color: #fff;
}

    .btn-login:hover {
        background-color: #0077b6;
        border-color: #0077b6;
    }

::deep .form-control:focus {
    border-color: #0077b6;
    box-shadow: 0 0 0 0.2rem rgba(15, 118, 110, 0.25);
}